body {
  box-sizing: border-box;
  color:#373737;
  background: #fff;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

rect {
  fill: none;
  stroke: #fff;
  stroke-width: 3px;
}

/* Format grandparent */
.grandparent text {
	  font-weight: bold;
}

.grandparent rect {
  stroke: #fff;
	stroke-width: 3px;
  fill: #cccccc
}

.grandparent:hover rect {
  fill: grey;
}

/* Format children */
.children rect.child {
  opacity: 0;
}
.children rect.parent {
}
.children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}
.children:hover rect.parent {
  cursor: pointer;
  opacity: 0;
}

/* Show pointer */
.children rect.parent, .grandparent rect {
	  cursor: pointer;
}

/* Text */
.textdiv {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  padding: 20px;
  cursor: pointer;
  overflow:none;
}
.textdiv .title {
  font-size: 102%;
  font-weight: bold;
  margin-top: 8px;
  font-size:18px !important;
  color: white;
}
.textdiv p{
  line-height: 13px;
  margin:0 0 4px !important;
  padding:0px;
  font-size:16px !important;
  color: white;
}

/* Other */
.legend {
	  margin-bottom:8px !important;
}
.legend rect {
  stroke-width: 0px;
}
.legend text {
  text-anchor: middle;
  pointer-events: auto;
  font-size: 13px;
  font-family: sans-serif;
  fill: black;
}
.form-group {
  text-align:left;
}